@tailwind base;
@tailwind components;
@tailwind utilities;
.background{
  background-color: indigo;
  width: 100%;
  height: 100vh;
}
  

.header{
  background-color:rgb(30, 32, 30);
justify-content: right;
padding-right: 200px;
height: 80px;

}
.header-buttons{
  color: white;
  font-size: 15pt;
justify-content: right;
  display: flex;
  gap: 25pt;
  font-family:'Times New Roman', Times, serif;
 
  align-items: center;
}

.mywebsiteheading{
  padding-right: 180px;
  font-style: italic;
  font-weight: 100;
  font-size: 50px;
}
.hello{
  padding-top: 200px;
  color: indigo;
  background-color:rgb(159 18 57);;
}
